{% extends "base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-md-12" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="well trail">
                Global FinPrint |
                <a href="{% url 'trip_list' %}">Trips</a> |
                <a href="{% url 'trip_update' trip_pk %}">{{ trip_name }}</a> |
                Sets
            </div>
        </div>
        <div class="row">
            {% leaflet_map "set_map" callback="main_map_init" %}
            <br/>
            <br/>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed set-table" cellspacing="0" width="100%">
                    <thead>
                    <tr class="success">
                        <th id="reef">Date</th>
                        <th id="reef">Reef</th>
                        <th id="drop_time">Drop</th>
                        <th id="collection_time">Collect</th>
                        <th id="latitude">Lat</th>
                        <th id="longitude">Long</th>
                        <th id="depth">Depth</th>
                        <th id="equipment">Equipment</th>
                        <th id="tide_state">Tide</th>
                        <th id="visibility">Vis</th>
                        <th id="bait">Bait</th>
                        <th id="edit">Edit set</th>
                        <th id="observations">View Obs</th>
                        <th class="show_observations">Show/Hide Env</th>
                    </tr>
                    </thead>
                    {% for set in sets %}
                        <tr>
                            <td>{{ set.drop_time|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>{{ set.reef.name }}</td>
                            <td>{{ set.drop_time|date:"H:i" }}</td>
                            <td>{{ set.collection_time|date:"H:i" }}</td>
                            <td>{{ set.latitude }}</td>
                            <td>{{ set.longitude }}</td>
                            <td>{{ set.depth }}</td>
                            <td>{{ set.equipment }}</td>
                            <td>{{ set.tide_state }}</td>
                            <td>{{ set.visibility }}</td>
                            <td>{{ set.bait }}</td>
                            <td><a href="{% url 'set_update' set.trip.id set.id %}">Edit</a></td>
                            <td><a href="{% url 'set_observation_list' set.trip.id set.id %}">View</a></td>
                            <td>
                                <a class="show-observation" href="#" data-set="{{ set.id }}">Show</a>
                                <a class="hide-observation" href="#" data-set="{{ set.id }}">Hide</a>
                            </td>
                        </tr>
                        {# for each environmental measure: #}
                        <tr class="success observation-headers set-{{ set.id }}">
                            <th class="blank" colspan="6"></th>
                            <th class="measurement_time">Time</th>
                            <th class="temperature">Temp</th>
                            <th class="salinity">Salinity</th>
                            <th class="conductivity">Cond</th>
                            <th class="dissolved_oxygen">DOx</th>
                            <th class="current_flow">Flow</th>
                            <th class="current_direction">Direction</th>
                            <th class="edit_observation">Create/Edit Env.</th>
                        </tr>
                        {% if set.environmentmeasure_set.count %}
                            {% for env in set.environmentmeasure_set.all %}
                                <tr class="observation-row set-{{ set.id }}">
                                    <td colspan="6"></td>
                                    <td>{{ env.measurement_time|date:"H:i" }}</td>
                                    <td>{{ env.water_temperature }}</td>
                                    <td>{{ env.salinity }}</td>
                                    <td>{{ env.conductivity }}</td>
                                    <td>{{ env.dissolved_oxygen }}</td>
                                    <td>{{ env.current_flow }}</td>
                                    <td>{{ env.current_direction }}</td>
                                    <td><a href="{% url 'environmentmeasure_update' set.trip.id set.id env.id %}">
                                        Edit
                                    </a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <tr class="observation-row set-{{ set.id }}">
                            <td colspan="13"></td>
                            <td><a href="{% url 'environmentmeasure_create' set.trip.id set.id %}">Create</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
        {% if request.user.is_authenticated %}
        <h3>Add new set</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="well clearfix">
                    {% crispy set_form %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        function main_map_init(map, options) {
            var sets_geojson_url = '{% url "api_trip_sets_geojson" trip_pk %}';

            $.getJSON(sets_geojson_url, function (data) {
                L.geoJson(data).addTo(map);
                map.fitBounds(L.geoJson(data).getBounds().pad(20))
            });
        }
    </script>
{% endblock %}
