{% extends "base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% block content %}

    {% if set_pk or form_errors %}
    {# jump to form if editing or there is an error #}
        <script type="text/javascript">$(function() { window.location.hash = '#set-form-parent'; });</script>
    {% endif %}

    <div class="col-md-12" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-7">
                 <div class="row">
                     <h3>Trips > Sets</h3>
                 </div>
                 <div class="row">
                     <div class="trail">
                         <a href="{% url 'trip_list' %}">All Trips</a> |
                         {{ trip_name }} | <strong>{{ trip_name }} Sets</strong>
                     </div>
                 </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    {% leaflet_map "set_map" callback="main_map_init" %}
                </div>
            </div>
        </div>

        <div id="bulk-upload" class="row well">
            <div class="bulk-upload col-md-12 clearfix">
                <h4>Bulk Set Upload</h4>
                {% crispy bulk_form %}
            </div>
        </div>

        <div id="set-search" class="row well">
            <div class="search col-md-12 clearfix">
                <h4>Use filters to limit set results</h4>
                {% crispy search_form %}
            </div>
        </div>

        <div>
            <p class="text-right"><a id="btn-show-set-form" class="btn btn-primary btn-fp">Add Set</a></p>
        </div>

        <div id="set-form-parent">
            {% if request.user.is_authenticated %}
            <div class="row">
                {% if set_pk %}
                <h3 class="form-title">Edit set "{{ set_name }}"</h3>
                {% else %}
                <h3 class="form-title">New set</h3>
                {% endif %}
            </div>

            <div class="row well clearfix set-form-well">
                <form class="form-inline set ng-pristine ng-valid" action="" method="post" id="set-env-form" enctype="multipart/form-data">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% csrf_token %}

                        <div class="panel panel-default sub-form">
                            <div class="panel-heading {% if form_errors and not set_form.errors %}collapsed{% endif %}"
                                 role="tab"
                                 id="headingOne"
                                 data-toggle="collapse"
                                 href="#collapseOne"
                                 area-expanded="false"
                                 aria-controls="collapseOne">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle">Set location, equipment, and bait</a>
                                </h4>
                            </div>
                            <div id="collapseOne"
                                 class="panel-collapse collapse {% if not form_errors or set_form.errors %}in{% endif %}"
                                 role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    {% crispy set_form %}
                                    <p><!-- placeholder --></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default sub-form">
                            <div class="panel-heading {% if not set_level_comments_form.errors %}collapsed{% endif %}"
                                 role="tab"
                                 id="headingTwo"
                                 data-toggle="collapse"
                                 href="#collapseTwo"
                                 area-expanded="false"
                                 aria-controls="collapseTwo">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle">Set comments, annotator messages, and tags</a>
                                </h4>
                            </div>
                            <div id="collapseTwo"
                                 class="panel-collapse collapse {% if set_level_comments_form.errors %}in{% endif %}"
                                 role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    {% crispy set_level_comments_form %}
                                    <p><!-- placeholder --></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default sub-form">
                            <div class="panel-heading {% if not drop_form.errors %}collapsed{% endif %}"
                                 role="tab"
                                 id="headingThree"
                                 data-toggle="collapse"
                                 href="#collapseThree"
                                 area-expanded="false"
                                 aria-controls="collapseThree">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle">Drop environmental measure</a>
                                </h4>
                            </div>
                            <div id="collapseThree"
                                 class="panel-collapse collapse {% if drop_form.errors %}in{% endif %}"
                                 role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    {% crispy drop_form %}
                                    <p><!-- placeholder --></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default sub-form">
                            <div class="panel-heading {% if not haul_form.errors %}collapsed{% endif %}"
                                 role="tab"
                                 id="headingFour"
                                 data-toggle="collapse"
                                 href="#collapseFour"
                                 area-expanded="false"
                                 aria-controls="collapseFour">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle">Haul environmental measure</a>
                                </h4>
                            </div>
                            <div id="collapseFour"
                                 class="panel-collapse collapse {% if haul_form.errors %}in{% endif %}"
                                 role="tabpanel"
                                 aria-labelledby="headingFour">
                                <div class="panel-body">
                                    {% crispy haul_form %}
                                    <p><!-- placeholder --></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default sub-form">
                            <div class="panel-heading {% if not set_level_data_form.errors %}collapsed{% endif %}"
                                 role="tab"
                                 id="headingFive"
                                 data-toggle="collapse"
                                 href="#collapseFive"
                                 area-expanded="false"
                                 aria-controls="collapseFive">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle">Photos and flow/substrate measures</a>
                                </h4>
                            </div>
                            <div id="collapseFive"
                                 class="panel-collapse collapse {% if set_level_data_form.errors %}in{% endif %}"
                                 role="tabpanel"
                                 aria-labelledby="headingFive">
                                <div class="panel-body">
                                    {% crispy set_level_data_form %}
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default sub-form">
                            <div class="panel-heading {% if not video_form.errors %}collapsed{% endif %}"
                                 role="tab"
                                 id="headingSix"
                                 data-toggle="collapse"
                                 href="#collapseSix"
                                 area-expanded="false"
                                 aria-controls="collapseSix">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle">Video</a>
                                </h4>
                            </div>
                            <div id="collapseSix"
                                 class="panel-collapse collapse {% if video_form.errors %}in{% endif %}"
                                 role="tabpanel"
                                 aria-labelledby="headingSix">
                                <div class="panel-body">
                                    {% crispy video_form %}
                                    <p class="add-video">
                                        <span class="plus"></span>
                                        If entering multiple videos from a single BRUV, enter them in correct order.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-right cta-buttons">
                        <a href="{% url 'trip_set_list' trip_pk %}" class="btn btn-default btn-fp">Cancel</a>
                        {% if not set_pk %}
                            <input type="submit" name="save-and-add" value="Save & add new set" class="btn btn-primary btn-fp" id="submit-id-save-and-add-new" />
                        {% endif %}
                        <input type="submit" name="save" value="Save{{ set_pk|yesno:" changes, new set" }}" class="btn btn-primary btn-fp" id="submit-id-save" />
                    </div>
                </form>
            </div>
            {% endif %}
        </div>

        <div class="row">
            {% include 'partials/paginator_controls.html' with page=sets thing_name='sets' %}
            <table class="table table-bordered table-condensed set-table" cellspacing="0" width="100%">
                <thead>
                <tr class="table-header-title">
                    <th colspan=16><h4>Showing all sets</h4></th>
                </tr>
                <tr class="table-header-labels well">
                    <th id="code">Trip & set code</th>
                    <th id="date">Date</th>
                    <th id="reef" colspan=2>Reef</th>
                    <th id="lat-long">Lat/long</th>
                    <th id="depth">Depth</th>
                    <th id="equipment">Equipment</th>
                    <th id="bait">Bait</th>
                    <th class="video" colspan=2>Video</th>
                    <th class="show_observations">Drop/haul</th>
                    <th id="assignments">Reviewed assignments</th>
                    <th id="master">Master record</th>
                    <th id="flow_substrate">All req. fields</th>
                    <th id="observations">Obs</th>
                    <th id="edit">Edit</th>
                </tr>
                </thead>
                {% for set in sets %}
                    {% if set.completed %}
                        <tr class="set-complete">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ set }}</td>
                        <td>{{ set.set_date|date:"M d Y" }}</td>
                        <td colspan=2>{{ set.reef_habitat }}</td>
                        <td>{{ set.latitude|floatformat:"-3" }}/&#10;{{ set.longitude|floatformat:"-3" }}</td>
                        <td>{{ set.depth }}</td>
                        <td>{{ set.equipment }}</td>
                        <td>{{ set.bait }}</td>
                        <td colspan=2>
                            {{ set.video.primary|default_if_none:"<i>None</i>" }}
                        </td>
                        <td>
                            <a class="show-env" href="#" data-set="{{ set.id }}">Show</a>
                            <a class="hide-env" href="#" data-set="{{ set.id }}">Hide</a>
                        </td>
                        {# todo:  this section could use some optimization as it makes far too many sql calls #}
                        <td>
                            {% with set_assignment_counts=set.assignment_counts %}
                                {% if set_assignment_counts.Total > 0 %}
                                    <a
                                            class="disabled"   {# todo:  disabled until the rest of the assignment url code is done ...  #}
                                            href="{% url 'assignment_review' set.id %}">
                                    {% if 4 in set_assignment_counts %}
                                    {{ set_assignment_counts.4 }}
                                    {% else %}
                                    0
                                    {% endif %}
                                    /
                                    {{ set_assignment_counts.Total }}
                                    </a>
                                {% else %}
                                0 / 0
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            {% with master=set.master %}
                                {% if master %}
                                <a href="{% url 'master_review' set.master.id  %}">
                                    {{ set.master.status.name }}
                                </a>
                                {% else %}
                                    No master record
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            {{ set.required_fields }}
                        </td>
                        <td>
                            <a href="{% url 'set_observation_list' set.trip.id set.id %}">
                                View ({{ set.observations.count }})
                            </a>
                        </td>
                        <td>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'set_update' set.trip.id set.id %}">Edit</a>
                            {% else %}
                                <span class="disabled">Edit</span>
                            {% endif %}
                        </td>
                    </tr>
                    {# for each environmental measure: #}
                    <tr class="info env-headers set-{{ set.id }}">
                        <th></th>
                        <th class="haul-drop">Drop/haul</th>
                        <th class="temperature">Temp</th>
                        <th class="salinity">Salinity</th>
                        <th class="conductivity">Cond</th>
                        <th class="dissolved_oxygen">DOx</th>
                        <th class="current_flow">Flow</th>
                        <th class="current_direction">Direction</th>
                        <th class="tide_state">Tide</th>
                        <th class="estimated_wind_speed">Wind spd</th>
                        <th class="wind_direction">Wind dir</th>
                        <th class="cloud_cover">Cloud cover</th>
                        <th class="surface_chop">Chop</th>
                        <th colspan="3"></th>
                    </tr>
                    {% if set.drop_measure %}
                    {% with env=set.drop_measure %}
                        <tr class="env-row set-{{ set.id }} drop">
                            <td></td>
                            <td>Drop measure</td>
                            <td>{{ env.water_temperature }}</td>
                            <td>{{ env.salinity }}</td>
                            <td>{{ env.conductivity }}</td>
                            <td>{{ env.dissolved_oxygen }}</td>
                            <td>{{ env.current_flow }}</td>
                            <td>{{ env.current_direction }}</td>
                            <td>{{ env.tide_state }}</td>
                            <td>{{ env.estimated_wind_speed }}</td>
                            <td>{{ env.wind_direction }}</td>
                            <td>{{ env.cloud_cover }}</td>
                            <td>{{ env.surface_chop }}</td>
                            <td colspan="3"></td>
                        </tr>
                    {% endwith %}
                    {% else %}
                        <tr class="env-row set-{{ set.id }} drop">
                            <td></td>
                            <td><a href="{% url 'set_update' set.trip.id set.id %}#set-env-form">
                                Add drop measure
                            </a></td>
                            <td colspan="14"></td>
                        </tr>
                    {% endif %}
                    {% if set.haul_measure %}
                    {% with env=set.haul_measure %}
                        <tr class="env-row set-{{ set.id }} haul">
                            <td></td>
                            <td>Haul measure</td>
                            <td>{{ env.water_temperature }}</td>
                            <td>{{ env.salinity }}</td>
                            <td>{{ env.conductivity }}</td>
                            <td>{{ env.dissolved_oxygen }}</td>
                            <td>{{ env.current_flow }}</td>
                            <td>{{ env.current_direction }}</td>
                            <td>{{ env.tide_state }}</td>
                            <td>{{ env.estimated_wind_speed }}</td>
                            <td>{{ env.wind_direction }}</td>
                            <td>{{ env.cloud_cover }}</td>
                            <td>{{ env.surface_chop }}</td>
                            <td colspan="3"></td>
                        </tr>
                    {% endwith %}
                    {% else %}
                        <tr class="env-row set-{{ set.id }} haul">
                            <td></td>
                            <td><a href="{% url 'set_update' set.trip.id set.id %}#set-env-form">
                                Add haul measure
                            </a></td>
                            <td colspan="14"></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function main_map_init(map, options) {
            var sets_geojson_url = '{% url "api_trip_sets_geojson" trip_pk %}';

            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                if (feature.properties && feature.properties.code) {
                    layer.bindPopup(feature.properties.code);
                }
            }

            $.getJSON(sets_geojson_url, function (data) {
                L.geoJson(data, {
                    onEachFeature: onEachFeature
                }).addTo(map);
                map.fitBounds(L.geoJson(data).getBounds().pad(20))
            });
        }
    </script>
{% endblock %}
