{% load time_display %}
<h3>Observations{{ for }}</h3>
<table class="table table-bordered table-condensed assignment-observation-table" id="observation-table" cellspacing="0" width="100%">
    <thead>
    <tr class="success">
        <th>Annotator</th>
        <th>Organism</th>
        <th>Observation comment</th>
        <th>Frame capture</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Event notes</th>
        <th>Attributes</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for o in observations|dictsortreversed:'initial_observation_time' %}
        {% for e in o.event_set.all|dictsortreversed:'event_time' %}
            <tr>
                <td>{{ o.assignment.annotator }}</td>
                <td>{{ o.animalobservation.animal|default_if_none:"<i>N/A</i>" }}</td>
                <td>{{ o.comment|default_if_none:"<i>None</i>" }}</td>
                <td><i>TODO screen grab + extent</i></td>
                <td>{{ e.event_time }}</td>
                <td>{{ o.duration }}</td>
                <td>{{ e.notes }}</td>
                <td>{{ e.attribute.all|join:', ' }}</td>
                <td><a href="#">Edit</a></td>
            </tr>
        {% endfor %}
    {% empty %}
        <tr>
            <td colspan="7" class="text-center">
                <h4>{{ assignment.annotator }} has not yet submitted any observations for this video</h4>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
