{% load time_display %}
<h3>Observations{{ for }}</h3>
<table class="table table-bordered table-condensed assignment-observation-table" id="observation-table" cellspacing="0" width="100%">
    <thead>
    <tr class="success">
        <th>Annotator</th>
        <th>Duration (ms)</th>
        <th>Type</th>
        <th>Organism</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    {% for o in observations|dictsortreversed:'initial_observation_time' %}
        <tr>
            <td>{{ o.assignment.annotator }}</td>
            <td>{{ o.duration|default_if_none:"<i>None</i>" }}</td>
            <td>{{ o.get_type_display }}</td>
            <td>{{ o.animalobservation.animal|default_if_none:"<i>N/A</i>" }}</td>
            <td>{{ o.comment|default_if_none:"<i>None</i>" }}</td>
        </tr>
        {% if o.event_set.all %}
            <tr>
                <th colspan="2">Frame capture</th>
                <th>Time (ms)</th>
                <th>Attributes</th>
                <th>Note</th>
            </tr>
            {% for e in o.event_set.all|dictsortreversed:'event_time' %}
                <tr>
                    <td colspan="2"><i>TODO EVENT SCREEN WITH EXTENT</i></td>
                    <td>{{ e.event_time }}</td>
                    <td>{{ e.attribute.all|join:', ' }}</td>
                    <td>{{ e.note }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    {% empty %}
        <tr>
            <td colspan="7" class="text-center">
                <h4>{{ assignment.annotator }} has not yet submitted any observations for this video</h4>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
