{% load staticfiles i18n %}
{% load leaflet_tags %}
{% load version_info %}
<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Global FinPrint{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block css %}
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}"/>
        <link rel="stylesheet" href="{% static 'bower_components/selectize/dist/css/selectize.bootstrap3.css' %}"/>
        {% leaflet_css %}
        <link href="{% static 'css/project.css' %}" rel="stylesheet"/>
    {% endblock %}

    <!--    todo:  move this javascript block back to the bottom after fixing that django-bootstrap-datetimepicker -->
    <!--           so it doesn't include script references.  -->
    {% block javascript %}
        <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/selectize/dist/js/standalone/selectize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/backbone/backbone-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/colorbrewer/colorbrewer.js' %}"></script>
        {% leaflet_js %}
        <script type="text/javascript" src="{% static 'bower_components/esri-leaflet/dist/esri-leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/mousetrap/mousetrap.min.js' %}"></script>
        <script src="{% static 'js/finprint.js' %}"></script>
    {% endblock javascript %}

</head>

<body>

    {% block nav %}
        {% include 'partials/navpartial.html' %}
    {% endblock nav %}

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock content %}
    </div>
    <!-- /container -->

    {% block modal %}{% endblock modal %}

</body>
</html>

