{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="well trail">
            <a href="/">Global FinPrint</a> |
            <a href="{% url 'trip_list' %}">Trips</a> |
            <a href="{% url 'trip_update' trip_pk %}">{{ trip_name }}</a> |
            <a href="{% url 'trip_set_list' trip_pk %}">Sets</a> |
            <a href="{% url 'set_update' trip_pk set_pk %}">{{ set_name }}</a> |
            Environmental measures |
            {{ env_name }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="well clearfix">
                {% crispy form %}
            </div>
        </div>
    </div>


{% endblock %}
