{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="well trail">
                <a href="/">Global FinPrint</a> |
                Trips
            </div>
        </div>

        <div class="row">
            <legend class="pull-left">Search trips</legend>
        </div>
        <div class="row">
            <div class="well clearfix">
                {% crispy search_form %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="list-group generic-list trip-list">
                    {% for trip in trips %}
                        <li class="list-group-item generic-list-item" data-pk-id="{{ trip.id }} " data-type="trip">
                            <span> {{ trip }} </span>

                            <div class="pull-right">
                                <a href="{% url 'trip_update' trip.id %}">Edit</a>
                                <a href="{% url 'trip_set_list' trip.id %}">Sets</a>
                            </div>
                        </li>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="well" id="detail_panel">

                </div>
            </div>
        </div>


        <div class="row">
            <legend class="pull-left">Add a trip</legend>
        </div>
        <div class="row">
            <div class="well clearfix">
                {% crispy trip_form %}
            </div>
        </div>
    </div>
{% endblock %}
