packages:
    yum:
        libtiff-devel: ''
        libjpeg-devel: ''
        libzip-devel: ''
        freetype-devel: ''
        postgresql-devel: ''
        gdal: ''
        gdal-python: ''
        geos: ''
        proj: ''
        libmemcached: ''
        libmemcached-devel: ''
        cyrus-sasl-devel: ''
        zlib-devel: ''
#
#container_commands:
#  00_install_repo:
#    command: rpm -ivh http://yum.postgresql.org/9.4/redhat/rhel-7-x86_64/pgdg-redhat94-9.4-1.noarch.rpm
#  01_disable_repo_default:
#    command: yum-config-manager --disable pgdg94
#  03_uninstall_old_pg:
#    command: yum erase -y postgresql92 postgresql92-devel postgresql92-libs postgresql93 postgresql93-devel postgresql93-libs
#  04_install_new_pg:
#    command: yum --disablerepo="*" --enablerepo="pgdg94" --releasever="7" -y install postgresql94-devel.x86_64