// project specific CSS goes here
@import 'lib';
@import 'global';

.main-splash {
  background-image: url("/static/images/fp_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-header {
  color: white;
  background-color: $blue;
  opacity: 0.9;
  padding: 12px 18px;
}

.splash-actions {
  background-color: white;
  opacity: 0.9;
  padding: 12px 18px;
  li {
    padding: 15px 0;
  }
}

.splash-spacer {
  height: 450px;
}

.generic-list {
  list-style-type: none;
}

table.set-table {
  th#edit {
    vertical-align: middle;
  }

  td a.hide-env {
    display: none;
  }

  tr.env-headers, tr.env-row {
    display: none;
  }
}

ul.annotators {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}


table.video-annotator-table {
  margin-top: 15px;
}

a.manual-assign {
  margin-right: 10px;
}

.assignment-observation-table {
  i {
    color: #999;
  }
}

#assignment-search-form {
  margin-bottom: 25px;

  .row {
    margin-top: 15px;
  }
}

#automatic-modal {
  .row:last-child {
    margin-top: 10px;
  }

  .include-leads {
    margin: 30px 0 5px;
  }

  .modal-footer span.success-message {
    display: none;
    color: forestgreen;
    padding-right: 20px;
  }
}

.manage-state-buttons {
  form {
    display: inline;
  }
}

#observation-table {
  border-color: $table-border;

  thead tr {
    background-color: $table-header;
    font-weight:bold;
    font-size: 16px;
    color: $blue;
  }

  tbody {
    tr.first-event {
      cursor: pointer;

      td.attributes:after {
        @include glyphicon('\e257');
        float: right;
      }

      &.selected {
        background-color: $parent-row;

        td.attributes:after {
          @include glyphicon('\e259');
        }
      }
    }

    tr.child-row {
      display: none;
      background-color: $child-row;
    }

    td div.annotool-thumbnail {
      position: relative;
      width: 160px;
      height: 90px;
      background-size: 160px 90px;
      margin: 0 auto;

      div.extent {
        position: absolute;
        border: 1px solid lightgreen;
      }
    }
  }
}

form.trip {
  small.help-block {
    margin-left: 15px;
  }
}

#set-search, #trip-search {
  color: $blue;
  border: none;
  background: $form-background;
  border-radius: 0;
  margin: 15px 0;
  padding: 0;

  h4 {
    margin-top: 15px;
  }

  form select#id_reef {
    width: 215px;
  }
}

h3.form-title {
  color: white;
  background-color: $blue;
  margin-bottom: 0;
  padding: 5px 15px;
  font-size: 1.4em;
}

#trip-form-parent {
  display: none;

  div.trip-form-well {
    padding: 15px 15px 0;
    border-radius: 0;
    border: 0;
    background: $form-background;

    form.trip {
      color: $blue;

      small.help-block {
        margin-left: 0;
      }
    }
  }
}

.message-modal {
  width: 500px;
  padding: 15px;
  background: white;
  border: 1px solid $gray;
  border-radius: 4px;
  position: absolute;

  p.no-children-message {
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.split-modal {
  width: 550px;
  padding: 15px;
  background: white;
  border: 1px solid $gray;
  border-radius: 4px;
  position: absolute;

  .right, .center, .left {
    float: left;
    vertical-align: center;

    .substrate-row {
      height: 30px;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .left {
    width: 200px;
    margin-right: 15px;

    button.add-substrate {
      float: left;
      font-size: 20pt;
      line-height: 22px;
      vertical-align: middle;
      padding: 1px 6px 5px;
      outline: none;
    }

    span.total {
      float: right;
      line-height: 30px;
    }

    select.substrate {
      width: 100%;
      height: 30px;
    }
  }

  .center {
    width: 100px;

    .input-holder {
      input[type="number"] {
        width: 60px;
        padding: 5px 5px 5px 10px;
        border-radius: 4px;
        border: 1px solid $gray;
      }

      &:after {
        content: ' %';
      }
    }
  }

  .right {
    width: 200px;

    span.help-text {
      color: $gray;
      font-size: 12px;
      line-height: 30px;
    }

    a {
      line-height: 30px;
    }
  }

  .buttons {
    text-align: right;

    span.sub-error {
      color: $error;
      margin-right: 10px;
    }
  }
}

#set-form-parent {
  display: none;

  div.set-form-well {
    padding: 0;
    border-radius: 0;
    border: 0;

    form.set {
      div.panel.sub-form {
        margin: 0 0 2px 0;
        border: none;
        background: $accordian-panel;
        color: $blue;

        div.panel-heading {
          background: $accordian-header-active;
          border-radius: 0;
          color: $blue;

          &.collapsed {
            background: $accordian-header;
          }
        }
      }

      div[data-toggle="collapse"] {
        cursor: pointer;
      }

      #id_latitude, #id_longitude {
        width: 130px;
      }

      #id_depth {
        width: 100px;
      }

      #id_set_date {
        width: 150px;
        padding-right: 0;
      }

      #id_haul_time, #id_drop_time {
        width: 50px;
        padding-right: 0;
      }

      #div_id_tags {
        min-width: 300px;
      }

      .cta-buttons {
        margin-right: 15px;
      }

      #div_id_habitat_substrate {
        margin-left: 15px;
      }

      .habitat-substrate-parent {
        position: relative;

        .left .substrate-row {
          padding-right: 15px;
        }

        .right, .center, .left {
          float: left;
          vertical-align: center;

          .substrate-row {
            width: 100%;
            padding: 5px;
          }
        }

        .left {
          width: 200px;

          button.add-substrate {
            float: left;
            font-size: 20pt;
            line-height: 22px;
            vertical-align: middle;
            padding: 1px 6px 5px;
            outline: none;
          }

          span.total {
            float: right;
            line-height: 30px;
          }

          select.substrate {
            width: 100%;
            height: 30px;
          }
        }

        .center {
          width: 100px;

          .input-holder {
            input[type="number"] {
              width: 60px;
              padding: 4px 5px 4px 10px;
              border-radius: 4px;
              border: 1px solid $gray;
            }

            &:after {
              content: ' %';
            }
          }
        }

        .right {
          width: 200px;

          span.help-text {
            color: $gray;
            font-size: 12px;
            line-height: 30px;
          }

          a {
            line-height: 30px;

            &.remove {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

.event-thumbnail {
  position: relative;
  cursor: pointer;
  width: 160px;
  height: 90px;
  background-size: 160px 90px;
  -webkit-user-select: none;

  &.empty {
    border: 1px solid $gray;
    background-color: lighten($gray, 25%);
    cursor: default;

    &:after {
      content: 'NO IMAGE';
      display: block;
      top: 40%;
      color: $black;
      width: 100%;
      text-align: center;
      font-family: inherit;
    }

    &:hover:after {
      font-size: 1.2em;
    }
  }

  &:after {
    position: absolute;
    bottom: 3px;
    right: 5px;
    content: "\e015";
    font-family: 'Glyphicons Halflings';
    color: white;
    font-size: 1.2em;
  }

  &:hover:after {
    font-size: 1.3em;
  }

  div.extent {
    position: absolute;
    border: 1px solid lightgreen;
  }
}

#full-image-modal {
  .event-image {
    position: relative;
    cursor: pointer;
    width: 800px;
    height: 450px;
    background-size: 800px 450px;
    -webkit-user-select: none;
    margin: 40px auto;

    div.extent {
      position: absolute;
      border: 1px solid lightgreen;
    }
  }

  .close {
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    width: 35px;
    line-height: 30px;
    border: 1px solid $gray;
    background-color: white;
    color: $gray;
    opacity: 1.0;
    border-radius: 1em;
    text-align: center;
    font-size: 2.0em;
    padding-bottom: 3px;
    -webkit-user-select: none;
  }
}

.row.assignment {
  p.review-label {
    margin-top: 20px;
  }

  button.select-all {
    padding: 4px 10px;
    margin-left: 10px;

    &:focus {
      outline: none;
    }
  }
}

.busy-indicator {
  position: absolute;
  height: 40px;
  width: 160px;
  top: 10px;
  left: calc(50% - 80px);
  background-color: lighten($gray, 25%);
  border-radius: 0.35em;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  z-index: 20;
}

.compare-actions {
  margin-bottom: 25px;

  h4 {
    margin-top: 0;
  }

  .legend .legend-item {
    display: inline-block;

    .pip {
      @include circle(15px);
      vertical-align: middle;
      font-size: 10px;
      color: white;
    }

    .legend-label {
      display: inline-block;
      vertical-align: top;
      padding-top: 1px;
    }
  }

  span#save-feedback {
    padding-right: 10px;
    display: none;
    color: $black;

    &.success {
      color: $green;
    }

    &.failure {
      color: red;
    }
  }
}

.row.master:focus, .row.assignment:focus {
  outline: none;
}

.timeline-holder {
  background-color: transparentize($form-background, 0.5);
  height: 60px;
  padding: 0 25px;
  margin-bottom: 15px;
  position: relative;

  &.highlighted {
    background-color: transparentize($green, 0.85);
  }

  .timeline {
    position: relative;
    margin: 0 0 25px;
    border-bottom: 2px solid $gray;
    height: 30px;

    .observation {
      @include circle(15px);
      border: 1px solid #333;
      cursor: pointer;
      position: absolute;
      top: 22px;
      margin-left: 3px;
      background-color: lighten($blue, 15%);
      z-index: 10;
      color: white;
      font-size: 10px;

      &:focus {
        outline: none;

        .observation-popover {
          border-color: $green;

          &:before {
            border-top-color: $green;
          }
        }
      }

      &.selected .observation-popover {
        visibility: visible;
      }

      &:hover, &.selected {
        @include circle(20px);
        margin-left: 0;
        top: 20px;
        background-color: $blue;
        font-size: 14px;
      }

      .observation-popover {
        position: absolute;
        visibility: hidden;
        cursor: default;
        text-align: left;
        top: -170px;
        height: 160px;
        width: 600px;
        background-color: lighten($green, 25%);
        border: 2px solid lighten($gray, 25%);
        border-radius: 0.25em;
        z-index: 15;
        color: $black;
        line-height: 20px;
        font-size: 14px;

        &.left-aligned:after, &.left-aligned:before {
            left: 21px;
        }

        &.right-aligned:after {
          right: 1px;
        }

        &.right-aligned:before {
          right: -2px;
        }

        &:after, &:before {
            top: 100%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-top-color: lighten($green, 25%);
            border-width: 15px;
            margin-left: -20px;
        }

        &:before {
            border-color: transparent;
            border-top-color: lighten($gray, 25%);
            border-width: 18px;
            margin-left: -23px;
        }

        .left, .right {
          float: left;
          padding: 10px;
          height: 100%;
        }

        .left {
          text-align: center;
          width: 200px;

          .event-thumbnail {
            margin: 0 auto;
          }

          .selector {
            width: 25px;
            line-height: 25px;
            background-color: $blue;
            color: $form-background;
            border-radius: 1em;
            margin: 7px auto 0;
            cursor: pointer;
            -webkit-user-select: none;

            .checkmark {
              display: none;
            }

            &.selected .checkmark {
              display: inline-block;
            }

            .empty-selection {
              display: inline-block;
              width: 19px;
              line-height: 19px;
              border-radius: 1em;
              background-color: lighten($green, 25%);
            }

            &.selected .empty-selection {
              display: none;
            }
          }
        }

        .right {
          width: 375px;

          table tbody tr {
            margin-bottom: 10px;

            td.data-label {
              color: $blue;
              font-weight: bold;
              text-align: right;
              vertical-align: top;
              padding-right: 10px;
              width: 100px;
            }

            td.data {
              line-height: 1.2em;
            }
          }
        }

        .close {
          position: absolute;
          cursor: pointer;
          top: -10px;
          right: -10px;
          width: 20px;
          line-height: 16px;
          border: 1px solid $gray;
          background-color: white;
          color: $gray;
          opacity: 1.0;
          border-radius: 1em;
          text-align: center;
          font-size: 1.15em;
          padding-bottom: 3px;
          -webkit-user-select: none;
        }
      }
    }

    .event {
      @include downTick(8px, 4px, transparentize($green, 0.50));
      position: absolute;
      top: 17px;
      z-index: 5;
      margin-left: 2px;

      &.activated {
        @include downTick(12px, 6px, transparentize($green, 0.25));
        top: 15px;
        margin-left: 0;
      }
    }
  }
}

.modal-body .loading {
  display: none;
  position: absolute;
  width: 400px;
  height: 40px;
  top: calc(50% - 75px);
  left: calc(50% - 200px);
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background: white;
  border: 1px solid $black;
  border-radius: 5px;
}


form #div_id_file .selectize-control {
  width: 350px;
}

#observation-table {
  .annotool-thumbnail {
    cursor: pointer;

    &:after {
      position: absolute;
      bottom: 3px;
      right: 5px;
      content: "\e015";
      font-family: 'Glyphicons Halflings';
      color: white;
      font-size: 1.2em;
    }

    &:hover:after {
      font-size: 1.3em;
    }
  }

  select.edit-animal {
    width: 150px;
  }

  input.edit-duration {
    width: 75px;
  }

  div.edit-attributes.selectize-control {
    width: 150px;
  }
}

#collapseSix {
  #div_id_source, #div_id_path, #div_id_primary, #div_id_remove_row {
    .controls {
      margin-top: 5px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  #div_id_primary {
    text-align: center;

    .radio {
      line-height: 34px;
    }
  }

  #div_id_remove_row {
    padding-top: 20px;

    .controls {
      height: 34px;
      line-height: 34px;
    }
  }

  .add-video {
    color: $gray;
    font-size: 12px;

    span.plus {
      display: inline-block;
      background-color: $blue;
      border-radius: 0.25em;
      width: 25px;
      height: 25px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      margin-right: 15px;
      cursor: pointer;

      &:before {
        content: '+';
        color: white;
      }
    }
  }
}
