// project specific CSS goes here
@import 'lib';
@import 'global';

.main-splash {
  background-image: url("/static/images/fp_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-header {
  color: white;
  background-color: $blue;
  opacity: 0.9;
  padding: 12px 18px;
}

.splash-actions {
  background-color: white;
  opacity: 0.9;
  padding: 12px 18px;
  li {
    padding: 15px 0;
  }
}

.splash-spacer {
  height: 450px;
}

.generic-list {
  list-style-type: none;
}

table.set-table {
  th#edit {
    vertical-align: middle;
  }

  td a.hide-env {
    display: none;
  }

  tr.env-headers, tr.env-row {
    display: none;
  }
}

ul.annotators {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}


table.video-annotator-table {
  margin-top: 15px;
}

a.manual-assign {
  margin-right: 10px;
}

.assignment-observation-table {
  i {
    color: #999;
  }
}

#assignment-search-form {
  margin-bottom: 25px;

  .row {
    margin-top: 15px;
  }
}

#automatic-modal {
  .modal-footer span.success-message {
    display: none;
    color: forestgreen;
    padding-right: 20px;
  }
}

.manage-state-buttons {
  form {
    display: inline;
  }
}

#observation-table {
  border-color: $table-border;

  thead tr {
    background-color: $table-header;
    font-weight:bold;
    font-size: 16px;
    color: $blue;
  }

  tbody {
    tr.first-event {
      cursor: pointer;

      td.attributes:after {
        @include glyphicon('\e257');
      }

      &.selected {
        background-color: $parent-row;

        td.attributes:after {
          @include glyphicon('\e259');
        }
      }
    }

    tr.child-row {
      display: none;
      background-color: $child-row;
    }

    td div.annotool-thumbnail {
      position: relative;
      width: 160px;
      height: 90px;
      background-size: 160px 90px;

      div.extent {
        position: absolute;
        border: 1px solid lightgreen;
      }
    }
  }
}

form.trip {
  small.help-block {
    margin-left: 15px;
  }
}

form.trip-search {
  select#id_reef {
    width: 240px;
  }
}

#set-search {
  color: $blue;
  border: none;
  background: $accordian-panel;
  border-radius: 0;
  margin: 15px 0;
  padding: 0;

  form select#id_reef {
    width: 215px;
  }
}

#set-form-parent {
  display: none;

  h3.set-form-title {
    color: white;
    background-color: $blue;
    margin-bottom: 0;
    padding: 5px 15px;
    font-size: 1.4em;
  }

  div.set-form-well {
    padding: 0;
    border-radius: 0;
    border: 0;

    form.set {
      div.panel.sub-form {
        margin: 0 0 2px 0;
        border: none;
        background: $accordian-panel;
        color: $blue;

        div.panel-heading {
          background: $accordian-header-active;
          border-radius: 0;
          color: $blue;

          &.collapsed {
            background: $accordian-header;
          }
        }
      }

      div[data-toggle="collapse"] {
        cursor: pointer;
      }

      #id_latitude, #id_longitude {
        width: 130px;
      }

      #id_depth {
        width: 100px;
      }

      #id_set_date {
        width: 150px;
        padding-right: 0;
      }

      #id_haul_time, #id_drop_time {
        width: 50px;
        padding-right: 0;
      }

      #div_id_tags {
        min-width: 300px;
      }

      .cta-buttons {
        margin-right: 15px;
      }
    }
  }
}
