// stylesheet variables
$blue: #29566D;
$green: #7ED321;
$gray: #838C9E;
$black: #4A4A4A;
$link: #4A90E2;
$table-header: transparentize($blue, 0.8);
$parent-row: transparentize($green, 0.5);
$child-row: transparentize($green, 0.75);
$table-border: transparentize($blue, 0.95);

@mixin glyphicon($code) {
  content: $code;
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  padding-left: 5px;
}

a {
  color: $link;
}

// project specific CSS goes here

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.main-splash {
  background-image: url("/static/images/fp_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-header {
  color: white;
  background-color: $blue;
  opacity: 0.9;
  padding: 12px 18px;
}

.splash-actions {
  background-color: white;
  opacity: 0.9;
  padding: 12px 18px;
  li {
    padding: 15px 0px;
  }
}

.splash-spacer {
  height: 450px;
}

.generic-list {
  list-style-type: none;
}

.generic-list-item {

}

.form-inline {
  .form-group {
    vertical-align: top;
    padding-bottom: 15px;
    margin-right: 5px;

    &.has-error {
      position: relative;
      padding-bottom: 30px;

    }

    a.cancel-button {
      margin: 0 10px;
    }
  }

  #div_id_oiled {
    padding-top: 25px;
  }
}

thead {
  tr{
    border: 0;
    th {
      border: 0 !important;
    }
  }

  tr.table-header-title {
    color: white;
    background-color: $blue;
  }

  tr.table-header-labels {
    color: $blue;
  }
}

.set-table th#edit {
  vertical-align: middle;
}

table.set-table {
  td a.hide-env {
    display: none;
  }

  tr.env-headers, tr.env-row {
    display: none;
  }
}

span.disabled {
  color: #ccc;
}

ul.annotators {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

h3.inline {
  display: inline-block;
}

table.video-annotator-table {
  margin-top: 15px;
}

a.manual-assign {
  margin-right: 10px;
}

.assignment-observation-table {
  i {
    color: #999;
  }
}

#assignment-search-form {
  margin-bottom: 25px;

  .row {
    margin-top: 15px;
  }
}

#automatic-modal {
  .modal-footer span.success-message {
    display: none;
    color: forestgreen;
    padding-right: 20px;
  }
}

.manage-state-buttons {
  form {
    display: inline;
  }
}

#observation-table {
  border-color: $table-border;

  thead tr {
    background-color: $table-header;
    font-weight:bold;
    font-size: 16px;
    color: $blue;
  }

  tbody {
    tr.first-event {
      cursor: pointer;

      td.attributes:after {
        @include glyphicon('\e257');
      }

      &.selected {
        background-color: $parent-row;

        td.attributes:after {
          @include glyphicon('\e259');
        }
      }
    }

    tr.child-row {
      display: none;
      background-color: $child-row;
    }

    td div.annotool-thumbnail {
      position: relative;
      width: 160px;
      height: 90px;
      background-size: 160px 90px;

      div.extent {
        position: absolute;
        border: 1px solid lightgreen;
      }
    }
  }
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opened" panels */
    @include glyphicon("\e114");
    float: right;
}

.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    @include glyphicon("\e079");
}

form.trip small.help-block {
  margin-left: 15px;
}

form div.image-select-widget-parent {
  cursor: pointer;

  div.image-select-widget {
    width: 216px;
    height: 120px;
    background-size: 216px 120px;
    margin-right: 15px;
  }

  input {
    display: none;
  }
}

form.set {
  div[data-toggle="collapse"] {
    cursor: pointer;
  }

  div.input-group.date {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    input {
      border-right: none;
      box-shadow: none;
    }

    span.input-group-addon {
      background: white;
      padding-left: 5px;
    }
  }

  #id_latitude, #id_longitude {
    width: 130px;
  }

  #id_depth {
    width: 100px;
  }

  #id_reef {
    width: 250px;
  }

  #id_set_date {
    width: 150px;
    padding-right: 0;
  }

  #id_haul_time, #id_drop_time {
    width: 50px;
    padding-right: 0;
  }

  #div_id_tags {
    min-width: 300px;
  }
}
