{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block form_top %}<a href="../password/">Change password</a>{% endblock %}
{% block admin_change_form_document_ready %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    var event = $.Event('django:add-another-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showAddAnotherPopup(this);
                    }
                });

                $('input#id_is_active').click(function() {
                    if (!this.checked) {
                        if (!confirm("Warning:  Inactivating a user will remove any assignments that are not yet complete.")) {
                            event.preventDefault();
                        }
                    }
                });

            {% if adminform and add %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus();
            {% endif %}
            });
        })(django.jQuery);
    </script>
{% endblock %}






