{% extends "base.html" %}

{% block content %}


<div class="col-md-12">
    <div class="row">
        <div class="well trail">
            <a href="/">Global FinPrint</a> |
            <a href="{% url 'trip_list' %}">Trips</a> |
            <a href="{% url 'trip_update' trip_pk %}">{{ trip_name }}</a> |
            <a href="{% url 'trip_set_list' trip_pk %}">Sets</a> |
            <a href="{% url 'set_update' trip_pk set_pk %}">{{ set_name }}</a> |
            Observations
        </div>
    </div>
    <div class="row">
        <legend class="pull-left">Observations
            <a role="button" href="{% url 'observation_create' trip_pk=trip_pk set_pk=set_pk %}" class="btn btn-sm pull-right" title="Create Observation" style="background: none;" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </legend>
        <br>
    </div>
    <div class ="row">
        <div class = "col-md-6">
            <div class="list-group generic-list">
            {% for observation in observations %}
                <li class="list-group-item generic-list-item" data-pk-id="{{ observation.id }}" data-type="observation">
                    <span> {{ observation }} </span>
                    <div class="pull-right">
                        <a href="{% url 'observation_update' trip_pk=observation.set.trip.id set_pk=observation.set.id pk=observation.id %}">Edit</a>
                    </div>
                </li>
            {% endfor %}
            </div>
        </div>
        <div class = "col-md-6">
            <div class="well" id="detail_panel">

            </div>
        </div>
    </div>
</div>


{% endblock %}