{% extends "base.html" %}
{% block content %}

<div class="col-md-12">
    <div class="row">
        <div class="well trail">
            <a href="/">Global FinPrint</a> |
            <a href="{% url 'trip_list' %}">Trips</a> |
            <a href="{% url 'trip_update' trip_pk %}">{{ trip_name }}</a> |
            <a href="{% url 'trip_set_list' trip_pk %}">Sets</a> |
            <a href="{% url 'set_update' trip_pk set_pk %}">{{ set_name }}</a> |
            Observations
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-condensed obs-table" cellspacing="0" width="100%">
            <thead>
            <tr class="success">
                <th>Initial observation time</th>
                <th>Animal</th>
                <th>Sex</th>
                <th>Stage</th>
                <th>Length</th>
                <th>Behavior</th>
                <th>Duration</th>
                <th>Video annotator</th>
            </tr>
            </thead>
            <tbody>
            {% for obs in observations %}
            <tr>
                <td>{{ obs.initial_observation_time }}</td>
                <td>{{ obs.animal }}</td>
                <td>{{ obs.get_sex_display }}</td>
                <td>{{ obs.get_stage_display }}</td>
                <td>{{ obs.length }}</td>
                <td>{{ obs.behavior }}</td>
                <td>{{ obs.duration }}</td>
                <td>{{ obs.video_annotator.annotator }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}
