{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row main-splash">
        {% if request.user.is_authenticated %}
        <div class="col-md-6 col-md-offset-1">
            <div class="row splash-header">
                <h4>Welcome to Global FinPrint's database tools</h4>
            </div>
            <div class="row">
                <br><br>
            </div>
            <div class="row float-bot splash-actions">
                <h4>I want to...</h4>
                <ul>
                    <li><a href="{% url 'trip_list' %}">Add new trips and sets</a></li>
                    <li><a href="{% url 'assignment_list' %}">Assign videos to annotators and review annotator progress</a></li>
                    <li><a href="/admin">Administer data options and users</a></li>
                </ul>
            </div>
        </div>
        {%endif%}
        <div class="col-md-1 splash-spacer"></div>
    </div>
{% endblock %}
