{% extends "base.html" %}

{% block content %}


<div class="col-md-11">
    <div class="row">
        <div class="well trail">
            <a href="{% url 'trip_list' %}">Trips</a>
        </div>
    </div>
    <div class="row">
        <legend class="pull-left">Sets
            <a role="button" href="{% url 'set_create' trip_pk=trip_pk %}" class="btn btn-sm pull-right" title="Create Set" style="background: none;" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </legend>
        <br>
    </div>
    <div class ="row">
        <div class = "col-md-6">
            <div class="list-group generic-list">
            {% for set in sets %}
                <li class="list-group-item generic-list-item" data-pk-id="{{ set.id }}" data-type="set">
                    <span> {{ set }} </span>
                    <div class="pull-right">
                        <a href="{% url 'set_update' trip_pk=set.trip.id pk=set.id %}">Edit</a>
                        <a href="{% url 'set_observations_list' trip_pk=set.trip.id set_pk=set.id %}">Observations</a>
                    </div>
                </li>
            {% endfor %}
            </div>
        </div>
        <div class = "col-md-6">
            <div class="well" id="detail_panel">

            </div>
        </div>
    </div>
</div>


{% endblock %}