{% extends 'base.html' %}

{% block content %}
    <div class="container login">
        <div class="row">
            <div class="center span4 well">
                <legend>Please Sign In (Lead or SuperUser only)</legend>
                {% if form.non_field_errors %}
                    <div class="alert alert-error">
                        <p class="text-warning">{{ form.non_field_errors|join:',' }}</p>
                    </div>
                {% elif form.errors %}
                    <div class="alert alert-error">
                        <p class="text-warning">Invalid username or password. Please try again</p>
                    </div>
                {% endif %}
                <div>
                    <form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="id_password">Password</label>
                            {{ form.password }}
                        </div>
                        <button purpose="submit" type="submit" class="btn btn-primary">Login</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
