{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <h3>
            Video assignments
            <small><a href="#" id="open-auto-modal">Automatic assignment</a></small>
        </h3>
        <form id="assignment-search-form" class="clearfix">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-3">
                    <label for="select-project">Project</label>
                    <select id="select-project" name="project_id" class="form-control">
                        <option value="" selected="selected">---</option>
                        {% for p in projects %}
                            <option value="{{ p.id }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="select-trip">Trip(s)</label>
                    <select id="select-trip" name="trip[]" multiple="multiple" placeholder="Select one or more trips">
                        {% for l in locations %}
                        <optgroup label="{{ l }}">
                        {% for t in l.trip_set.all %}
                            <option value="{{ t.id }}">{{ t }}</option>
                        {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="select-set">Set(s)</label>
                    <select id="select-set" name="set[]" multiple="multiple" placeholder="Select one or more sets">
                        {% for t in trips %}
                        <optgroup label="{{ t }}">
                        {% for s in t.set_set.all %}
                            <option value="{{ s.id }}">{{ s.code }}</option>
                        {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="select-reef">Reef(s)</label>
                    <select id="select-reef" name="reef[]" multiple="multiple" placeholder="Select one or more reefs">
                        {% for s in sites %}
                        <optgroup label="{{ s }}">
                        {% for r in s.reef_set.all %}
                            <option value="{{ r.id }}">{{ r.name }}</option>
                        {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="select-anno">Annotator(s)</label>
                    <select id="select-anno" name="anno[]" multiple="multiple" placeholder="Select one or more annotators">
                        {% for a in affils %}
                            <optgroup label="{{ a }}">
                            {% for an in a.annotators %}
                                <option value="{{ an.id }}">{{ an }}</option>
                            {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="select-status">Status(es)</label>
                    <select id="select-status" name="status[]" multiple="multiple" placeholder="Select one or more statuses">
                        {% for s in statuses %}
                            <option value="{{ s.id }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="select-assigned">Num. annotators assigned</label>
                    <select id="select-assigned" name="assigned" class="form-control">
                        <option value="" selected="selected">---</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5+">5 or more</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="assigned-ago">Days since assignment</label>
                    <input type="number" min="0" step="1" id="assigned-ago" name="assigned-ago" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="assignMultipleVideo" class="btn btn-primary">Assign Videos</button>
                    <button id="search" class="btn btn-primary">Search assignments</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <table class="table table-bordered table-condensed assignment-list-table" cellspacing="0" width="100%">
            <thead>
                <tr class="success">
                    <th style="border:1px solid #ddd !important" class="bottom-content"><input type="checkbox" name="selectAllAssignment" id="selectAllAssignmentsId" style="height:1.5em; width:1.5em"  class="shadow"></th>
                    <th>Video</th>
                    <th>Trip</th>
                    <th>Set</th>
                    <th>Reef</th>
                    <th>Annotator</th>
                    <th>Project</th>
                    <th>Date assigned</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th># of Obs</th>
                    <th>Video Actions</th>
                    <th>Assignment Actions</th>
                </tr>
            </thead>
            <tbody id="assignment-target">
                    <tr id="spinId">
                        <td colspan="13">
                            Loading...
                        </td>
                    </tr>
                    <tr id="limitSelectionId">
                    <td colspan="13">
                    <h4 class="text-center" >Use the form above to limit selection</h4>
                </td></tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="multi-assign-modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" id="assign-modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" id="unassign-modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" id="automatic-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Automatic video assignment</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <p class="col-md-12">
                            Select a Trip for which sets should be assigned annotators, an Affiliation from which
                            annotators should be drawn, a total number of Annotators desired for each video (including
                            annotators already assigned), then press "Assign" to distribute annotators evenly among
                            available assignments.
                        </p>
                    </div>
                    <form>
                        <div class="row">
                        {% csrf_token %}
                            <div class="col-md-4">
                                <label for="auto-trip">Trip</label>
                                <select class="form-control" id="auto-trip" name="trip">
                                    <option value="">---</option>
                                    {% for t in trips %}
                                    {% if t.set_set.all|length > 0 %}
                                    <option value="{{ t.id }}">{{ t }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label for="auto-affiliation">Affiliation</label>
                                <select class="form-control" id="auto-affiliation" name="affiliation">
                                    <option value="">---</option>
                                    {% for a in affils %}
                                    {% if a.annotators|length > 0 %}
                                    <option value="{{ a.id }}">{{ a }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label for="auto-num">Annotators per video</label>
                                <input type="number" class="form-control" id="auto-num" name="num" min="1" step="1" value="3" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="project">Project</label>
                                <select id="project" name="project" class="form-control">
                                    {% for project in projects %}
                                        <option value="{{ project.id }}">{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4">
                                <div class="checkbox include-leads">
                                    <label for="include-leads">
                                        <input type="checkbox" id="include-leads" name="include_leads" />
                                        Include leads?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <span class="success-message">Successfully assigned videos</span>
                    <button class="btn btn-default" id="cancel-auto" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="assign-auto">Assign</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
