{% load time_display %}
{% load humanize %}
{% for a in assignments %}
<tr>
    <td class="center-content"><input type="checkbox" name="select_check_box" style="height:1.5em; width:1.5em" value="{{ a.video.set.id }}" class="selectCheckBox shadow"></td>
    <td>{{ a.video.primary|default:"<i>None</i>" }}</td>
    <td>{{ a.video.set.trip.code }}</td>
    <td>{{ a.video.set.code }}</td>
    <td>{{ a.video.set.reef_habitat.reef.name }}</td>
    <td><a href="#" data-annotator-id="{{ a.annotator.id }}">{{ a.annotator }}</a></td>
    <td>{{ a.project }}</td>
    <td>{{ a.create_datetime|date }} ({{ a.create_datetime|naturaltime }})</td>
    <td>{{ a.status }}</td>
    <td>{{ a.progress|time_display }}</td>
    <td>{{ a.observation_set.count }}</td>
    <td>
        <a class="open-assign-modal" data-id="{{ a.video.set.id }}" href="#">Assign</a> |
        <a href="{% url 'assignment_compare' a.video.set.id %}?project={{ a.project.pk }}">Compare</a>
    </td>
    <td>
        <a class="open-unassign-modal{% if a.status.is_finished %} disabled{% endif %}" data-id="{{ a.id }}" href="#">Unassign</a> |
        <a {% if a.status.id == 1 %}class="disabled"{% endif %} href="{% url 'assignment_manage' a.id %}">Manage</a>
    </td>
</tr>
{% endfor %}
{% for u in unassigned %}
<tr>
    <td class="center-content"><input type="checkbox" name="select_check_box" style="height:1.5em; width:1.5em" value="{{ u.id }}" class="selectCheckBox shadow" ></td>
    <td>{{ u.video.primary|default:"<i>None</i>" }}</td>
    <td>{{ u.trip.code }}</td>
    <td>{{ u.code }}</td>
    <td>{{ u.reef.name }}</td>
    <td><i>None</i></td>
    <td><i>N/A</i></td>
    <td><i>N/A</i></td>
    <td><i>N/A</i></td>
    <td><i>N/A</i></td>
    <td><i>N/A</i></td>
    <td>
        <a class="open-assign-modal" data-id="{{ u.id }}" href="#">Assign</a>
    </td>
    <td><i>N/A</i></td>
</tr>
{% endfor %}
{% if unassigned|length == 0 and assignments|length == 0 %}
<tr>
    <td colspan="12"><h4 class="text-center">No videos found with given parameters</h4></td>
</tr>
{% endif %}
