{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load active_if_equal %}

{% block content %}
    <div class="manage-content">
        <div class="row">
            <h3>Manage video assignment</h3>
            <div class="manage-state-buttons" data-id="{{ assignment.id }}">
                <form>
                    <div class="input-group pull-right">

                        <span id="save_message" style="display: none" class="inline .success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Status change saved  </span>
                        <div id="radioBtn" class="btn-group">
                            {% for assignment_state in state_list %}
                                <a class="btn btn-default
                                    {% active_if_equal assignment.status.id assignment_state.id %}
                                    {% if assignment_state.id == 1 %}disabled{% endif %}"
                                   data-toggle="assignment_state" data-value="{{ assignment_state.id }}">{{ assignment_state.name }}</a>
                            {% endfor %}
                        </div>
                        <input type="hidden" name="assignment_state" id="assignment_state">
                        <input type="hidden" name="action" value="update">
                        {% csrf_token %}
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            {% include 'partials/observation_table.html' with observations=observations %}
        </div>

        <div class="row">
            <p><a href="{% url 'set_observation_list' trip.id set.id %}">See all observations for {{ set }}</a></p>
        </div>
    </div>
{% endblock %}
