<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Assign annotators to "{{ set.video }}" ({{ set }})</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <label>Current annotators</label>
            <table class="table table-bordered table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr class="success">
                        <th>Annotator</th>
                        <th>Project</th>
                        <th>Status</th>
                        <th>Active assignments</th>
                    </tr>
                </thead>
                <tbody>
                {% for a in current %}
                    <tr>
                        <td>{{ a.annotator }}</td>
                        <td>{{ a.project }}</td>
                        <td>{{ a.status }}</td>
                        <td>{{ a.annotator.active_assignments.count }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center"><i>No annotators assigned</i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
     <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Done
            </button>
        </div>
    </div>
    <div class="loading">
        Loading...
    </div>
</div>
