{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <h3>Video assignments</h3>
        <form id="assignment-search-form" class="clearfix">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-3">
                    <label for="select-trip">Trip(s)</label>
                    <select id="select-trip" name="trip[]" multiple="multiple" placeholder="Select one or more trips">
                        {% for l in locations %}
                        <optgroup label="{{ l }}">
                        {% for t in l.trip_set.all %}
                            <option value="{{ t.id }}">{{ t }}</option>
                        {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="select-set">Set(s)</label>
                    <select id="select-set" name="set[]" multiple="multiple" placeholder="Select one or more sets">
                        {% for t in trips %}
                        <optgroup label="{{ t }}">
                        {% for s in t.set_set.all %}
                            <option value="{{ s.id }}">{{ s.code }}</option>
                        {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="select-anno">Annotator(s)</label>
                    <select id="select-anno" name="anno[]" multiple="multiple" placeholder="Select one or more annotators">
                        {% for a in affils %}
                            <optgroup label="{{ a }}">
                            {% for an in a.annotator_set.all %}
                                <option value="{{ an.id }}">{{ an }}</option>
                            {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="select-status">Status(es)</label>
                    <select id="select-status" name="status[]" multiple="multiple" placeholder="Select one or more statuses">
                        {% for s in statuses %}
                            <option value="{{ s.id }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="select-assigned">Num. annotators assigned</label>
                    <select id="select-assigned" name="assigned" class="form-control">
                        <option value="" selected="selected">---</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5+">5 or more</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="search" class="btn btn-primary">Search assignments</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <table class="table table-bordered table-condensed assignment-list-table" cellspacing="0" width="100%">
            <thead>
                <tr class="success">
                    <th>Video</th>
                    <th>Trip</th>
                    <th>Set</th>
                    <th>Annotator</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th># of Obs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="assignment-target">
                <tr><td colspan="8">
                    <h4 class="text-center">Use the form above to limit selection</h4>
                </td></tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="assign-modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}
