{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <h3>Videos > Compare Assignments for {{ set }} ({{ project }})</h3>
    </div>

    <div class="row compare-actions clear">
        <div class="pull-left legend">
            <h4>Legend</h4>
            {% for group in project.animal_groups %}
                <div class="legend-item" data-group="{{ group.id }}">
                    <span class="pip group-{{ group.id }}">X</span>
                    <span class="legend-label">{{ group }}</span>
                </div>
            {% endfor %}
            <div class="legend-item" data-group="int">
                <span class="pip group-int">X</span>
                <span class="legend-label">Of interest</span>
            </div>
        </div>
        <div class="pull-right">
            <span id="save-feedback"></span>
            <button id="save-master" class="btn btn-primary btn-fp" disabled="disabled">Save</button>
            {# todo:  this should save before switching to the review page #}
            <a href="{% url 'master_review' master.id %}" id="review-master" class="btn btn-primary btn-fp" disabled="disabled">Review</a>
        </div>
    </div>

    <div class="row master" data-set-id="{{ set.id }}" data-project-id="{{ project.pk }}" data-length="{{ video_length }}" tabindex="0">
        <p class="review-label">
            <span class="circle">M</span> Master
        </p>
        <div class="timeline-holder">
            <div class="busy-indicator">Loading...</div>
            <div class="timeline"></div>
        </div>
    </div>

    {% for a in assignment_set %}
        <div class="row assignment" data-assignment-id="{{ a.pk }}" data-project-id="{{ project.pk }}" data-length="{{ video_length }}" data-label="{{ forloop.counter }}" tabindex="0">
            <p class="review-label">
                <span class="circle">{{ forloop.counter }}</span> {{ a.annotator }}
                <button class="select-all btn btn-primary btn-fp" disabled="disabled">Select All</button>
            </p>
            <div class="timeline-holder">
                <div class="busy-indicator">Loading...</div>
                <div class="timeline"></div>
            </div>
        </div>
    {% endfor %}

    <div id="full-image-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="close" data-dismiss="modal">&times;</div>
                <div class="event-image">
                    <div class="extent"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'bower_components/colorbrewer/colorbrewer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/templates.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/compare.js' %}"></script>
{% endblock %}
