{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="manage-content">
        <div class="row">
            <h3>Manage video assignment</h3>
            <div class="text-right manage-state-buttons" data-id="{{ assignment.id }}">

                    <form>


                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                          </label>
                          <label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                          </label>
                          <label class="btn btn-primary">
                            <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                          </label>
                        </div>
{#                        <input type="hidden" name="action" value="delete" />#}
{#                        <input type="hidden" name="new" value="1" />#}
{#                        <button class="btn">Not started</button>#}
{##}
{#                        <input type="hidden" name="action" value="update" />#}
{#                        <input type="hidden" name="new" value="2" />#}
{#                        <button class="btn">In Progress</button>#}
{##}
{#                        <input type="hidden" name="action" value="update" />#}
{#                        <input type="hidden" name="new" value="3" />#}
{#                        <button class="btn">Ready for review</button>#}
{##}
{#                        <input type="hidden" name="action" value="update" />#}
{#                        <input type="hidden" name="new" value="4" />#}
{#                        <button class="btn">Accepted</button>#}
{##}
{#                        <input type="hidden" name="action" value="update" />#}
{#                        <input type="hidden" name="new" value="5" />#}
{#                        <button class="btn">Rejected</button>#}
{##}
{#                        <input type="hidden" name="action" value="update" />#}
{#                        <input type="hidden" name="new" value="6" />#}
{#                        <button class="btn">Disabled</button>#}
                    </form>
            </div>
        </div>

        <div class="row">
            {% include 'partials/observation_table.html' with observations=observations %}
        </div>

        <div class="row">
            <p><a href="{% url 'set_observation_list' trip.id set.id %}">See all observations for {{ set }}</a></p>
        </div>
    </div>
{% endblock %}
