{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="well trail">
            <a href="/">Global FinPrint</a> |
            Trip: <a href="{% url 'trip_update' trip.id %}">{{ trip }}</a> |
            Set: <a href="{% url 'set_update' trip.id set.id %}">{{ set }}</a> |
            <b>Compare assignments</b>
        </div>
    </div>
    <div class="row compare-actions clear">
        <div class="well legend">
            <h4>Legend</h4>
            {% for group in project.animal_groups %}
                <div class="legend-item" data-group="{{ group.id }}">
                    <span class="pip group-{{ group.id }}">X</span>
                    <span class="legend-label">{{ group }}</span>
                </div>
            {% endfor %}
            <div class="legend-item" data-group="int">
                <span class="pip group-int">X</span>
                <span class="legend-label">Of interest</span>
            </div>
        </div>
    </div>

    <div class="row master" data-set-id="{{ set.id }}" data-project-id="{{ project.pk }}" data-length="{{ video_length }}" tabindex="0">
        <p class="review-label compare-actions">
            <span class="circle">M</span> Master
            | <b> Status:</b> {{ master.status|lower }}
            <button id="save-master" class="btn btn-primary btn-fp" disabled="disabled">Save</button>
            <a href="{% url 'master_review' master.id %}" class="master-manage btn btn-primary btn-fp">Manage</a>
            <span id="save-feedback"></span>
        </p>
        <div class="timeline-holder">
            <div class="busy-indicator">Loading...</div>
            <div class="timeline"></div>
        </div>
    </div>

    {% for a in assignment_set %}
        <div class="row assignment" data-assignment-id="{{ a.pk }}" data-project-id="{{ project.pk }}" data-length="{{ video_length }}" data-label="{{ forloop.counter }}" tabindex="0">
            <p class="review-label">
                <span class="circle">{{ forloop.counter }}</span> {{ a.annotator }}
                | <b> Status:</b> {{ a.status|lower }}
                {% if a.status.name == 'Complete' %}
                    <button class="select-all btn btn-primary btn-fp" disabled="disabled">Select All</button>
                {% else %}
                    <button class="not-available btn btn-primary btn-fp" disabled="disabled">Not available</button>
                {% endif %}
                <a href="{% url 'assignment_manage' a.id %}" class="assignment-manage btn btn-primary btn-fp">Manage</a>
            </p>
            <div class="timeline-holder">
                <div class="busy-indicator">Loading...</div>
                <div class="timeline"></div>
            </div>
        </div>
    {% endfor %}

    <div id="full-image-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="close" data-dismiss="modal">&times;</div>
                <div class="event-image">
                    <div class="extent"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'bower_components/colorbrewer/colorbrewer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/templates.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/compare.js' %}"></script>
{% endblock %}
