{% load time_display %}
{% for a in assignments %}
<tr>
    <td>{{ a.video }}</td>
    <td>{{ a.video.set.trip.code }}</td>
    <td>{{ a.video.set.code }}</td>
    <td>{{ a.annotator }}</td>
    <td>{{ a.status }}</td>
    <td>{{ a.progress|time_display }}</td>
    <td>{{ a.observation_set.all|length }}</td>
    <td>
        <a class="open-assign-modal" data-id="{{ a.id }}" href="#">Assign</a> /
        <a href="{% url 'assignment_manage' a.id %}">Manage</a>
    </td>
</tr>
{% endfor %}
{% for u in unassigned %}
<tr>
    <td>{{ u.video }}</td>
    <td>{{ u.trip.code }}</td>
    <td>{{ u.code }}</td>
    <td><i>None</i></td>
    <td><i>N/A</i></td>
    <td><i>N/A</i></td>
    <td><i>N/A</i></td>
    <td>
        <a class="open-assign-modal" data-id="{{ u.id }}" href="#">Assign</a>
    </td>
</tr>
{% endfor %}
{% if unassigned.count == 0 and assignments.count == 0 %}
<tr>
    <td colspan="8"><h4 class="text-center">No videos found with given parameters</h4></td>
</tr>
{% endif %}
