{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <h3>Videos > Review Master Record</h3>
    </div>

    <div class="row review-actions clear">
        <div class="pull-right">
            <a href="{% url 'assignment_compare' master.set.id %}" class="btn btn-fp btn-primary">Edit</a>
            <label class="btn btn-fp btn-success checkbutton" data-url="{% url 'master_set_completed' master.id %}">
                Complete
                <input type="checkbox" {{ master.completed|yesno:'checked="checked ",' }}/>
                <span class="tick"></span>
            </label>
            <label class="btn btn-fp btn-danger checkbutton" data-url="{% url 'master_set_deprecated' master.id %}">
                Deprecate
                <input type="checkbox" {{ master.deprecated|yesno:'checked="checked ",' }}/>
                <span class="tick"></span>
            </label>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            {% include 'partials/observation_table.html' with observations=master.masterobservation_set.all for=for %}
        </div>
    </div>
{% endblock %}
