{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <h3>Search videos</h3>
        <div class="well clearfix">
            {% crispy search_form %}
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-condensed video-annotator-table" cellspacing="0" width="100%">
            <thead>
            <tr class="success">
                <th>Video</th>
                <th>Set</th>
                <th>Trip</th>
                <th>Team</th>
                <th>Location</th>
                <th>Region</th>
                <th>Annotators</th>
            </tr>
            </thead>
            <tbody>
            {% for v in videos %}
                <tr>
                    <td>{{ v.file }}</td>
                    <td>{{ v.set }}</td>
                    <td>{{ v.set.trip }}</td>
                    <td>{{ v.set.trip.team }}</td>
                    <td>{{ v.set.trip.location }}</td>
                    <td>{{ v.set.trip.region }}</td>
                    <td>
                    <ul class="annotators">
                        {% if v.assigned_users %}
                            {% for u in v.assigned_users %}
                                <li>{{ u }}</li>
                            {% endfor %}
                        {% else %}
                            <li><i>Unassigned</i></li>
                        {% endif %}
                        <li><a href="?video={{ v.id }}">Assign</a></li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if form %}
        <div class="row">
            <h3>Assign video</h3>
            <div class="well clearfix">
                {% crispy form %}
            </div>
        </div>
    {% endif %}
{% endblock %}
