{% extends "base.html" %}
{% load time_display %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <h3>Search videos</h3>
        <div class="well clearfix">
            {% crispy search_form %}
        </div>
    </div>

    <div class="row">
        <h3 class="inline">Videos from {{ trip_name }}</h3>
        <a href="{% url 'video_annotator_select_trip' %}">Select a different trip</a>
        <br />
        <table class="table table-bordered table-condensed video-annotator-table" cellspacing="0" width="100%">
            <thead>
            <tr class="success">
                <th>Video</th>
                <th>Set</th>
                <th>Annotator</th>
                <th>Status</th>
                <th>Progress</th>
                <th># of Obs</th>
                <th>Manage assignment</th>
            </tr>
            </thead>
            <tbody>
            {% for a in assignments %}
                <tr>
                    <td>{{ a.video }}</td>
                    <td>{{ a.video.set }}</td>
                    <td>{{ a.annotator }}</td>
                    <td>{{ a.status }}</td>
                    <td>{{ a.progress|time_display }}</td>
                    <td>{{ a.observation_set.all|length }}</td>
                    <td><a href="#">Manage</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if form %}
        <div class="row">
            <h3>Assign video</h3>
            <div class="well clearfix assign-form">
                {% crispy form %}
            </div>
        </div>
    {% endif %}
{% endblock %}
